.slots-legend .slot {
    padding: 4px 0px;
    & > * {
        display: inline-block;
        vertical-align: middle;
        margin-right: 20px;
    }
    & > label {
        margin-right: 10px;
        width: 75px;
        text-transform: capitalize;
    }
    & > div.color-box {
        width: 2em;
        height: 2em;
    }
    & > .companion-text {
        font-size: 0.8em;
        font-style: italic;
    }
}