.utterance {

    padding: 10px;
    border-bottom: 2px solid #eee;
    letter-spacing: 2px;
    line-height: 2.5em;
    user-select: none;

    & > * {
        border-top: 0.75em solid white;
    }

    & [contenteditable="true"] {
        outline: none;
        border-bottom: 2px solid transparent;
        transition: border 0.3s;

        &:hover {
            border-bottom-color: #CCC;
        }
        &:focus {
            border-bottom-color: blue;
        }
    }

    & > .slot {
        padding: 2px 0px;
        margin: 0px 2px;
        position: relative;

        & + .slot {
            margin-left: 2px;
        }

        .slot-expander {
            display: inline-block;
            vertical-align: text-bottom;
            cursor: col-resize;
            width: 3px;
            height: 2.25em;
            background: #CCC;
            background-clip: content-box;
            color: transparent;
            line-height: 2em;
            opacity: 0;
            z-index: 10;
            transition: all 0.25s;

            &::before {
                content: "";
                display: block;
                position: relative;
                left: -3px;
                width: 10px;
                height: 10px;
                z-index: 1;
                border-radius: 10px;
                background: #CCC;
                transition: all 0.25s;
            }

            &:hover, &:hover::before{
                background: blue;
                background-clip: content-box;
            }
        }
        .slot-start {
            padding-right: 5px;
        }
        .slot-end {
            padding-left: 5px;
        }

        &:hover .slot-expander, &.expanding .slot-expander {
            opacity: 1
        }

        &.expanding-start .slot-start, &.expanding-end .slot-end {
            background: blue;
            background-clip: content-box;
            &::before {
                background: blue;
                background-clip: content-box;
            }
        }
    }
}