@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
    background: white;
    color: #444;
    font-family: 'Raleway', sans-serif;
}

.app {
    display: flex;
    justify-content: center;

    & > * {
        margin: 0px 10px;
    }
}

.card {
    padding: 15px 40px 30px 40px;
    box-shadow: 1px 1px 10px #CCC;
    border-radius: 10px;

    & > h1 {
        text-align: center;
    }
    & > h3 {
        margin-top: 5px;
        text-align: center;
    }
}



